.content {
	width: 92em;
	margin:0 auto;
	overflow: hidden;
	max-width: 95%;
}

.content .primary {
	width: 72.8%;
	float: right;
	display: inline;
}

.content .secondary {
	width: 25%;
	float: left;
	display: inline;
}

.content .primary .primary {
	width: 59.7%;
	float: left;
}

.content .primary .secondary {
	width: 34.33%;
	float: right;
	display: inline;
	padding-right: 2em;
}
