body {
	background: #aaaaaa;
}
.content {
	width: 67%;
	margin:0 auto;
	overflow: hidden;
	max-width: 125em;
	min-width: 62em;
	background: #fff url("nav-bg-fixed.jpg") repeat-y left top;
}

.content .primary {
	width: 72.8%;
	float: right;
	display: inline;
}

.content .secondary {
	width: 25%;
	float: left;
	display: inline;
	background-color: #ccc;
}

.content .primary .primary {
	width: 59.7%;
	float: left;
	background-color: #fff;
	padding: 10px 10px;
}

.content .primary .secondary {
	width: 34.33%;
	float: right;
	display: inline;
	padding-right: 20px;
	background-color: #ccc;
}
